.content {
    justify-content: center;
    
    border: black 1px solid;

    /* background-color: #F0EDEE; */


    background-color: black;
    /* background-color: #FFFEFA; */

    margin-top: 2%;
    
    /*change these as needed*/
    width: 80%;
    max-width: 1500px;

    padding-left: 2vw;
    padding-right: 2vw;
    margin-bottom: 10%;
}
