/* Main Card Bottom */
.card-bottom{
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 3%;
    height: 50%;
}

.bottom{
    border: solid black 1px;
    width: 47%;
}

.bottom-left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* -------------static text--------------- */

.static-text{
    font-size: 4vh;
    /* font-size: 4em; */
}

/* -------------Icon Display-------------- */
.single-icon{
    justify-content: center;
    height: 45%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}

.all-tech-icons{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}