.personal-info{
    text-align: center;
    justify-content: center;  
    align-items: center;  

    border-bottom: solid black 1px;

    /* flex-grow: 2; */

    /* margin-bottom: 15vh; */
}

.personal-info-top-half{
    height: 90%;
}

.logo{
    display: inline-block;

    height: 20vh;
    width: 20vh;

    margin-top: 5vh;
    margin-bottom: 5vh;
    
    border-radius: 50%;
    border: black 1px solid;
}

.project-list{
    display: flex;
    justify-content: space-between;
}

.personal-info-bottom-half{
    height: 5%;
}

.to-project1{

}
