.personal-info{
    text-align: center;
    justify-content: center;  
    align-items: center;  

    height: 95vh;

    border-bottom: solid black 1px;

    /* flex-grow: 2; */

    /* margin-bottom: 15vh; */
}

.personal-info-top-half{
    height: 90%;
}

.logo{
    display: inline-block;

    height: 20vh;
    width: 20vh;

    margin-top: 5vh;
    margin-bottom: 5vh;
    
    border-radius: 50%;
    border: black 1px solid;
}

.links{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.project-list{
    display: flex;
    justify-content: space-between;
}

.personal-info-bottom-half{
    height: 5%;
}

@media only screen and (max-width: 810px) {
    .personal-info-top-half{
        height: 92%;
    }

    .project-list{
        flex-wrap: wrap;
        justify-content: center;
    }
}