.personal-info{
    text-align: center;
    justify-content: center;  
    align-items: center;  

    height: 95vh;

    border-bottom: solid #a4e7b8 1px;

    /* flex-grow: 2; */

    /* margin-bottom: 15vh; */
    box-sizing: border-box;
}

.personal-info-top-half{
    height: 80vh;
}

.logo{
    display: inline-block;

    height: 20vh;
    width: 20vh;

    margin-top: 5vh;
    margin-bottom: 5vh;
    
    border-radius: 50%;
    border: white 1px solid;
}

.name{
    /* font-size: 10vh;
    border-bottom: solid 1px #a4e7b8;
    width: 70%;
    margin-left: auto;
    margin-right: auto; */
    
}

/* --------------------------------------------- */

.name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 5vh; */
    /* background: #252839; */

}
.name {
    position: relative;
    font-size: 5vw;
    color:#252839;
    -webkit-text-stroke: 0.3vw #383d52;
    text-transform: uppercase;
}
.name::before {
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height: 100%;
    color: #a4e7b8;
    -webkit-text-stroke: 0vw #383d52;
    border-right: 2px solid #a4e7b8;
    overflow: hidden;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% ,10%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
/* --------------------------------------------- */
.links{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.project-list{
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 0 0;
}

.personal-info-bottom-half{
    /* margin-top: 2vh; */
    height: 5%;
}

@media only screen and (max-width: 1000px) {
    .personal-info-top-half{
        height: 88vh;
    }

    .project-list{
        flex-wrap: wrap;
        justify-content: center;

        margin: 0 0 0 0;
    }
}

/* @media only screen and (max-width: 810px) {
    .personal-info-top-half{
        height: 92%;
    }

    .project-list{
        flex-wrap: wrap;
        justify-content: center;
    }
} */