.personal-info{
    text-align: center;
    justify-content: center;  
    align-items: center;  

    height: 95vh;

    border-bottom: solid #a4e7b8 1px;

    /* flex-grow: 2; */

    /* margin-bottom: 15vh; */
    box-sizing: border-box;
}

.personal-info-top-half{
    height: 80vh;
}

.logo{
    display: inline-block;

    height: 20vh;
    width: 20vh;

    margin-top: 5vh;
    margin-bottom: 5vh;
    
    border-radius: 50%;
    border: white 1px solid;
}

/* --------name animation--------------------- */

.name-container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.name {
    position: relative;
    font-size: 5vw;
    color:#1d1c1c;
    text-transform: uppercase;
}
.name::before {
    content: attr(data-text);
    position: absolute;

    /* when width is set to 0 it can loop clean, when 100 only goes left to right and stops */
    /* width: 0; */

    color: #a4e7b8;
    border-right: 3px solid #a4e7b8;
    overflow: hidden;
    animation: animate 6s linear 1, cursor 1s infinite;
}

@keyframes animate {
    0%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}
@keyframes cursor {
    50%{
        border-right: 3px solid #1d1c1c;
    }

}

/* --------------------------------------------- */

.links{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.project-list{
    display: flex;
    justify-content: space-between;
    margin: 10vh 0 0 0;
}

.personal-info-bottom-half{
    /* margin-top: 2vh; */
    height: 5%;
}

@media only screen and (max-width: 1000px) {
    .personal-info-top-half{
        height: 88vh;
    }

    .project-list{
        flex-wrap: wrap;
        justify-content: center;

        margin: 0 0 0 0;
    }
}

/* @media only screen and (max-width: 810px) {
    .personal-info-top-half{
        height: 92%;
    }

    .project-list{
        flex-wrap: wrap;
        justify-content: center;
    }
} */