version: '3.7'
name: personal_site
services:
  nginx:
    depends_on:
      - client
    restart: always
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    ports:
      - 80:80
  client:
    container_name: client
    build:
      context: ./my-site
      dockerfile: ./Dockerfile
    volumes:
      # - ./my-site/src:/app/src
      - /app/node_modules
    ports:
      - 3000:3000
    restart: on-failure