version: '3.7'
name: personal-site
services:
  nginx:
    container_name: nginx
    depends_on:
      - client
    restart: always
    build:
      context: ./nginx
      dockerfile: ./Dockerfile
    ports:
      # - '3001:3001'
      - '80:80'
  client:
    container_name: client
    build:
      context: ./my-site
      dockerfile: ./Dockerfile.dev
    volumes:
      - ./my-site/src:/app/src
      - /app/node_modules
    # ports:
    #   - 3000:3000
    restart: on-failure