version: '3.7'
name: personal-site
services:
  nginx:
    container_name: nginx
    depends_on:
      - client
    restart: always
    image: nolancustodio/personal-site-nginx:1
    ports:
      - '80:80'
  client:
    container_name: client
    image: nolancustodio/personal-site-client:1
    volumes:
      - /app/node_modules
    restart: on-failure