.landing-right{
    width: 50%;
}

.scrolling-project-container{
    /* width: 100%; */
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    /* overflow-y: auto; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.project-nav-buttons{
    display: flex;
    align-items: center;
}

.nav-right{
    margin-left: auto;
}

.nav-left{
    margin-right: auto;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}