
/* @keyframes next-button-hop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
} */


.next-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;

    /* animation: next-button-hop ;
    animation-duration: 6s;
    animation-iteration-count: infinite; */

    transition: transform 0.3s ease 0s;
}

.next-button:hover {
    transform: translateY(-10px);
    text-decoration: none;
}

@media only screen and (max-width: 810px){
    .next-button{
        height: 40px;
        width: 40px;
    }

}
