
@keyframes next-button-hop {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.next-button {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid black;

    animation: next-button-hop 1s ease-in;
    animation-iteration-count: infinite;
    animation-delay: 3s;

    /* transition: transform 0.3s ease 0s; */
}

.next-button:hover {
    animation:none;

    transform: translateY(-10px);
    text-decoration: none;
}
