.single-icon{
    justify-content: center;
    /* height: 40%; */
    width: 5vw;
    margin-top: 10vh;
    margin-bottom: 10vh;

    background-color: ;
}

.all-tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 8vw;
    margin-right: 8vw;
}