.project-spacing{
    margin-bottom: 4vh;
    /* height: 8vh; */

    /* should be same color as container that holds all elements */
    border: solid #1d1c1c 1px;
    /* border: solid black 1px; */

}

.project{
    height: 90vh;
    margin-top: 8vh;
    text-align: center;

    border: solid #a4e7b8 1px;
    border-radius: 8px;
    /* background-color: blue; */

    /* background-color: #F8E9E9; */
    /* background-color: #109037; */
    /* background-color: #394648; */
}

.project-top-half{
    margin-top: 4%;
    height: 80%;
}

@keyframes small-hop{
    0%{
        transform: translateY(0px);
    }
    25%{
        transform: translateY(-10px);
    }
    
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(0px);
    }
}

.project-name{
    display: flex;
    justify-content: center;
    align-items: center;

    border: solid 2px #a4e7b8;
    /* border-bottom: solid 2px #a4e7b8; */

    width: 60%;
    height: 12vh;
    margin: auto;

    font-size: 500%;
    font-family: monospace, monospace;
    /* text-decoration-line: underline; */

    animation-name: small-hop;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}



.project-name-link{
    color: #a4e7b8;
    width: 100%;
}

.project-name-link:hover{
    /* border: #a4e7b8; */
    color: #a4e7b8;
}

.project-description{
    display: flex;

    width: 90%;
    height: 20%;
    margin: auto;
}

.description-index-1{
    border-left: solid #a4e7b8 1px ;
    border-right: solid #a4e7b8 1px ;
}

.single-project-description{
    width: 33%;
    margin: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.project-bottom-half{
    height: 8%;
}


@media only screen and (max-width: 700px) {
    .project-spacing{
        margin-top: 25%;
    }

    .project-top-half{
        margin-top: 0;
        height:90%;
    }

    .project-description{
        width: 90%;
        font-size: 100%;
    }
}
