.project-spacing{
    margin-top: 8%;
    /* height: 80px; */
    border: solid blue 1px;
    /* border: solid whitesmoke 1px; */

}

.project{
    margin-top: 2%;
    text-align: center;

    border: solid black 1px;
}

.project-top-half{
    margin-top: 6%;
    height: 80%;
}

.project-bottom-half{
    height: 8%;
}