.project-spacing{
    margin-top: 8%;
    /* height: 80px; */

    /* should be same color as container that holds all elements */
    border: solid #F0EDEE 1px;
    /* border: solid whitesmoke 1px; */

}

.project{
    height: 90vh;
    margin-top: 4%;
    text-align: center;

    border: solid #F0EDEE 1px;
    border-radius: 8px;
    background-color: #1B998B;

    /* background-color: #F8E9E9; */
    /* background-color: #109037; */
    /* background-color: #394648; */
}

.project-top-half{
    margin-top: 4%;
    height: 80%;
}

.project-name{
    width: 60%;
    height: 12vh;
    margin: auto;
}

.project-description{
    width: 70%;
    margin: auto;
}

.project-bottom-half{
    height: 8%;
}


@media only screen and (max-width: 700px) {
    .project-spacing{
        margin-top: 25%;
    }

    .project-top-half{
        margin-top: 0;
        height:90%;
    }

    .project-description{
        width: 90%;
        font-size: 100%;
    }
}
