.project-spacing{
    margin-top: 8%;
    /* height: 80px; */
    border: solid blue 1px;
    /* border: solid whitesmoke 1px; */

}

.project{
    height: 90vh;
    margin-top: 2%;
    text-align: center;

    border: solid black 1px;
}

.project-top-half{
    margin-top: 4%;
    height: 80%;
}

.project-name{
    width: 60%;
    height: 12vh;
    margin: auto;
}

.project-description{
    width: 70%;
    margin: auto;
}

.project-bottom-half{
    height: 8%;
}


@media only screen and (max-width: 700px) {
    .project-spacing{
        margin-top: 25%;
    }

    .project-top-half{
        margin-top: 0;
        height:90%;
    }

    .project-description{
        width: 90%;
        font-size: 100%;
    }
}
