
.card-top{
    display: flex;
    text-align: center;
    /* justify-content: space-between; */
    padding-top: 3%;
    padding-bottom: 3%;
}

.card-bottom{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding-top: 3%;
    padding-bottom: 3%;
}

.landing-left{
    width: 50%;
    border-right: solid black 1px;
}

.landing-external-links{
    display: flex;
    text-align: center;
}

.landing-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrolling-project-container{
    width: 80%;
    padding: 5%;
    max-height: 500px;
    border: solid black 1px;
    /* overflow-y: auto; */

    display: flex;
}

.project-nav-buttons{
    display: flex;
    align-items: center;
}