.singleProjectBlock{
    text-decoration: none;
}

.singleProjectBlock:hover{
    text-decoration: none;
}

.card-title{
    text-decoration: none;
    color: black;
}

.project-blurb{
    margin: auto;
    text-align: right;
    color:  black;
    font-weight: 500;
}

@media only screen and (max-width: 767px){

    .card-info{
        text-align: center;
    }

    .card-title{
        margin-left: auto;
        margin-right: auto;
    }

    .project-blurb{
        text-align: center;
    }
}
