.singleProjectBlock{
    text-decoration: none;
    color: black;
}

.my-card{
    padding: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 7%;
    margin-bottom: 23%;
}

.card-info{
    
}

.project-blurb{
    margin: auto;
    text-align: right;
}

@media only screen and (max-width: 767px){
    .card-title{
        margin-left: 30%;
    }

    
}
