.title{
    padding-top: 2.5%;
    text-align: center;
    align-items: center;
}

.title-text-button{
    border: solid  #109037 5px;
    background-color:  #a4e7b8;
    width: 70%;
    display: inline-block;

    text-decoration: none;
    color: black;

    transition: transform 0.3s ease 0s;
}

.title-text-button:hover{
    transform: translateY(-10px);
}

.project-subtext{
    padding-top: 2%;
}

.description{
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;

    text-align: center;
    line-height: 200%;
    
    padding-top: 5%;
    padding-bottom: 5%;

    padding-left: 3%;
    padding-right: 3%;

    border-top: solid #109037 2px;
    border-bottom: solid #109037 2px;
}

.tools-title{
    text-align: center;
}

.technology{
    margin: 0 auto;
    width: 57%;
    padding-bottom: 20%;
}

.singleTech{
    margin: 2.5%;
}

/* for mobile screen sizes */
@media only screen and (max-width: 1008px){
    .technology{
        width: 100%;
    }
}

@media only screen and (max-width: 650px){
    .description{
        line-height: 170%;
    }
}

@media only screen and (max-width: 620px){
    .title-text{
        font-size: 300%;
    }

    .technology{
        width: 100%;
    }
}

@media only screen and (max-width: 340px){
    .title-text{
        font-size: 200%;
    }
}






