.title{
    text-align: center;
}

.description{
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;

    text-align: justify;
    /* text-justify: inter-word; */
}

.technology{
    margin: 0 auto;
    width: 57%;
}

.singleTech{
    margin: 2.5%;
}