.single-button-container {
    margin-top: 1vh;
    margin-right: auto;
    margin-bottom: 1vh;
    margin-left: auto;

}

.floating-buttons {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 5vw;
    right: 40px;
    top: 5vh;
}

.single-button {
    border-radius: 50px;
}

.svg-icon {

    height: 5vh;
    /* width: 10vw; */
}

.resource-link {
    text-decoration: none;
}

.resource-link:hover {
    text-decoration: none;
}

.resourse-name {
    text-align: center;
    color:white;
}