.single-button-container {
    margin-right: auto;
    margin-left: auto;

}

.floating-buttons {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 5vw;
    right: 40px;
    top: 5vh;
}

.single-button {
    border-radius: 50px;
}

.svg-icon {
    height: 5vh;
}

.resource-link {
    /* parent */
    text-decoration: none;
}

.resource-link:hover {
    text-decoration: none;
}

.resourse-name {
    /* child */

    text-align: center;
    color: white;

    transform-origin: top;
}

.single-button-container .resourse-name {
    transition: transform 0.3s ease-out;
    transform: scaleY(0);
}

.single-button-container:hover .resourse-name {
    transform: scaleY(1);
}

@media only screen and (max-width: 700px) {
    .floating-buttons {
        right: 30px;
    }

    .svg-icon {
        height: 3vh;
    }

    .single-button-container .resourse-name {
        transition: transform 0.3s ease-out;
        transform: scaleY(1);
    }

    .resourse-name{
        font-size: 1.5vh;
    }
}