.entire-page{
    display: flex;
    justify-content: center;
}

/* for all of the background divs */
/* #root{
    background-color: whitesmoke;
    height: 100px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 5%;
} */

/* .horizontalSpace{
    padding: 100px;
}

.verticalSpace{
    padding: 100px;
} */


