.content {
    /* display: flex; */
    /* flex-wrap: wrap; */
    justify-content: center;
    align-self: center;
    
    /* border: 1px solid #2d2d2d; */
}

#root{
    background: rgb(0,167,14);
    background: linear-gradient(0deg, rgba(0,167,14,1) 0%, rgba(255,255,255,1) 100%);
}

.main-body{
    background: rgb(0,167,14);
}

.resumeContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontalSpace{
    padding: 100px;
}

.verticalSpace{
    padding: 100px;
}
