.entire-page{
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    justify-content: center;
    
    border: black 1px solid;
    background-color: whitesmoke;
    margin: 5%;
    
    /*change these as needed*/
    width: 80%;
    max-width: 1500px;
    /* height: 5000px; */
}

/* for all of the background divs */
/* #root{
    background-color: whitesmoke;
    height: 100px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 5%;
} */

/* .horizontalSpace{
    padding: 100px;
}

.verticalSpace{
    padding: 100px;
} */



.my-card:hover{
    transform: translateY(-10px);
    text-decoration: none;
}