.content {
    /* justify-content: center; */
    /* align-self: center; */
    
    border: black 1px solid;

    margin-left: 7%;
    margin-right: 7%;

    /* max-height: 100px; */
}

/* for all of the background divs */
#root, .main-body{
    background-color: whitesmoke
    /* background-image: url(
        https://images.unsplash.com/photo-1454117096348-e4abbeba002c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D
    ); */
}

/* .horizontalSpace{
    padding: 100px;
}

.verticalSpace{
    padding: 100px;
} */

.my-card{
    padding: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 7%;

    border: solid  #109037 5px;
    background-color:  #a4e7b8;

    transition: transform 0.3s ease 0s;
}

.my-card:hover{
    transform: translateY(-10px);
    text-decoration: none;
}