.entire-page {
    display: flex;
    justify-content: center;
    background-color: #1d1c1c;

    /* fonts */

    font-family: "Nunito", sans-serif;

    /* font-family: "Playwrite DE Grund", cursive; */


    color:white;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/* for all of the background divs */
/* #root{
    background-color: whitesmoke;
    height: 100px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 5%;
} */

.slide-in-from-right {
    animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}