.entire-page{
    display: flex;
    justify-content: center;

    /* fonts */

    /* font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */

    /* font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
}

/* for all of the background divs */
/* #root{
    background-color: whitesmoke;
    height: 100px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 5%;
} */

/* .horizontalSpace{
    padding: 100px;
}

.verticalSpace{
    padding: 100px;
} */


