.my-navbar{
    display: flex;
    justify-content: center;
    /* margin-inline: max(); */
    /* margin-inline: max(30px,50% - 500px / 2); */

    position: sticky;
    top: 0;
    
    max-height: 50px;
    
    background-color: #454545;
    
    z-index: 1020;
    /* left: 0; */
    /* right: 0; */
}

.nav-item{
    height: 3vh;
    width: 25%;

    color: white;
}

.left{
    text-align: left;

    margin-right: auto;
}
.middle{
    text-align: center;

    margin-left: auto;
    margin-right: auto;
}
.right{
    text-align: right;

    margin-left: auto;
}

/* .my-navbar{
    display: block;
}

.nav-item-link{
    text-decoration: none;
    color: black;
}

.my-email{
    margin-left: auto;
    margin-right: 0px;
}

@media only screen and (max-width: 400px){
    .nav-item{
        margin: auto;
        vertical-align: middle;
    }

    .my-email{
        margin: auto;
    }
} */