.my-navbar{
    display: flex;
    justify-content: center;
    /* margin-inline: max(); */
    /* margin-inline: max(30px,50% - 500px / 2); */

    position: sticky;
    top: 0;
    
    
    background-color: gray;
    
    z-index: 1020;
    /* left: 0; */
    /* right: 0; */
}

.nav-item{
    margin:auto;
    /* margin-inline: max(30px,50% - 500px / 2); */
    max-width: 33%;
}

/* .my-navbar{
    display: block;
}

.nav-item-link{
    text-decoration: none;
    color: black;
}

.my-email{
    margin-left: auto;
    margin-right: 0px;
}

@media only screen and (max-width: 400px){
    .nav-item{
        margin: auto;
        vertical-align: middle;
    }

    .my-email{
        margin: auto;
    }
} */