.card{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:  white;
    /* border: solid 1px #a4e7b8; */
    border-radius: 8px; 

    transition: transform 0.3s ease 0s;

}

.card:hover{
    transform: translateY(-10px);
    text-decoration: none;
    background-color: #ffffffe1;
}