.tech-icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 10vh 2vw 10vh 2vw;

    /* border: 1px solid green; */
}

.single-icon {
    justify-content: center;
    height: 12vh;

    margin: 2%;

    /* border: solid 1px #a4e7b8; */
    background-color: #4e4e4ea8;


    /* border-left: black solid 1px; */
    /* border-right: black solid 1px; */
    /* border-bottom: black solid 1px; */
    border-radius: 8px;

    padding: 1%;
}

/* .all-tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
} */

@media only screen and (max-width: 1000px) {
    .single-icon {
        height: 12vw;
    }

    .tech-icon-container {
        margin: 4vh 2vw 4vh 2vw;
    }

}

@media only screen and (max-width: 400px) {
    

}

/* @media only screen and (max-width: 700px) {
    
} */