.single-icon{
    justify-content: center;
    /* height: 40%; */
    width: 10%;

    margin: 2%;

    border: black solid 1px;
    border-radius: 8px;

    padding: 1%;
}

.all-tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 10vh 0% 10vh 0%;
}

@media only screen and (max-width: 700px) {
    .all-tech-icons{
        /* margin-top: 10%;
        margin-bottom: 10%; */

        margin: 5vh 0% 5vh 0%;
    }

    .single-icon{
        width: 20%;
        /* width: 50%; */
    }
}

/* @media only screen and (max-width: 700px) {
    
} */