.tech-icon-container{
    display: flex;
    align-items: center;

    margin: 10vh 4% 10vh 4%;

    border: 1px solid green;
}

.tool-text{
    width: 5%;

    display: block;
    
    background-color: white;
    color: black;
}

.single-icon{
    justify-content: center;
    /* height: 40%; */
    width: 10%;

    margin: 2%;

    /* border: solid 1px #a4e7b8; */
    background-color: #4e4e4ea8;
    

    /* border-left: black solid 1px; */
    /* border-right: black solid 1px; */
    /* border-bottom: black solid 1px; */
    border-radius: 8px;

    padding: 1%;
}

.all-tech-icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
}

@media only screen and (max-width: 700px) {
    .all-tech-icons{
        /* margin-top: 10%;
        margin-bottom: 10%; */

        margin: 5vh 0% 5vh 0%;
    }

    .single-icon{
        width: 20%;
        /* width: 50%; */
    }
}

/* @media only screen and (max-width: 700px) {
    
} */