.project-card{
    margin: 5%;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 10vh;
    width: 90vw;

    border: solid  #109037 5px;
    background-color:  #a4e7b8; 

    transition: transform 0.3s ease 0s;
}

.project-card:hover{
    transform: translateY(-10px);
    text-decoration: none;
}