.project-card{
    margin: 5%;

    height: 10vh;
    width: 18vw;
}

@media only screen and (max-width: 1000px) {
    .project-card{
        min-width: 60vw;

        margin: 2vh 0 2vh 0;
    }

}
/* @media only screen and (max-width: 810px) {
    .project-card{
        min-width: 60vw;
    }
} */
